<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Rick Sanchez</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Where to bigging...</h1>

    <p>Rick Sanchez is undoubtedly one of the most influential and controversial 
        scientific minds in our history. Born with an insatiable curiosity and an 
        irreverent attitude towards authority, Sanchez challenged the boundaries of 
        conventional science and left an indelible mark on our understanding of the universe.</p>

    <div class="container">
        <p>Check this links:</p>
        <a href="/works">Check inventions</a>
        <a href="/home">Back home</a>
    </div>
  </body>
</html>
