<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Rick Sanchez</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

    <h1>Rick Sanchez Wiki</h1>
    <img class="rick-pic" src="/img/rick-main.webp">
    <p>Welcome to out hmble site about one of our best scientist in the hisotry of humanity</p>

    <div class="container">
        <p>Feel free to check some of this interesting information below:</p>
        <a href="/about">Learn more</a>
        <a href="/works">Check inventions</a>
    </div>

  </body>
</html>
