<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Rick Sanchez</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Let's see some of his most relevant work</h1>
    
    <div class="container">
        <div class="container-gallery">
            <div class="gallery">
                <a target="_blank" href="/img/gun.jpg">
                <img src="/img/gun.jpg" width="600" height="400">
                </a>
                <div class="desc">The Portal Gun is a gadget that allows you to travel between different universes/dimensions/realities.</div>
            </div>

            <div class="gallery">
                <a target="_blank" href="/img/robot.webp">
                <img src="/img/robot.webp" width="600" height="400">
                </a>
                <div class="desc">The Purpose Robot is a small, two armed, mobile, sentient robot created for fulfilling tasks.</div>
            </div>

            <div class="gallery">
                <a target="_blank" href="/img/space.jpg">
                <img src="/img/space.jpg" width="600" height="400">
                </a>
                <div class="desc">The Space Cruiser is an interdisciplinary vehicle designed for making space travel an easier and faster task.</div>
            </div>

            <div class="gallery">
                <a target="_blank" href="/img/microverse.webp">
                <img src="/img/microverse.webp" width="600" height="400">
                </a>
                <div class="desc">The Microverse Battery to supply power to the space ship by a miniature universe with a planet inhabited by intelligent life.</div>
            </div>

            <div class="gallery">
                <a target="_blank" href="/img/bomb.webp">
                <img src="/img/bomb.webp" width="600" height="400">
                </a>
                <div class="desc">The Neutrino Bomb is a powerful bomb that could potentially wipe out all life on Earth and other planets.</div>
            </div>
        </div>

        <p>Check this links:</p>
        <a href="/about">Learn more</a>
        <a href="/home">Back home</a>
    </div>
  </body>
</html>
